
.testimonials_container{
    max-width: 80%;
    margin: 0 auto;
}

.image_comment{
    width: 100%;
}

.image_dog{
    width: 70%;
}

.story_container{
    max-width: 90%;
    margin: auto;
}

.story_title{
    margin-top: 2rem;
    font-size: large;
    font-weight: bold;
}
