
@import '../../variables';

.testimonials_title{
    font-weight: bold;
    margin-top: 1rem;
    display: flex;
    justify-content: center;

    @media (max-width: $screen-md) {
        font-size: 26px;       
    }

    @media (min-width: $screen-md) {
        font-size: 48px;
    }
}
