$screen-xs: 480px;
$screen-sm: 768px;
$screen-md: 1024px;
$screen-lg: 1200px;

$red-color: rgb(186, 54, 54);
$green-color: rgb(56, 187, 36);
$purple-color: rgb(123, 14, 140);
$blue-color: rgb(33, 23, 227);